BizTalk Server Project2/BizTalkServiceInstance_schemas_project_com_customerrequest.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://schemas.project.com/customerrequest" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://schemas.project.com/customerrequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerName" type="xs:string" />
        <xs:element name="MiddleName" type="xs:string" />
        <xs:element name="Age" type="xs:string" />
        <xs:element name="EmpID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>